server {
    listen {{ lighthouse_nginx_port }};
    server_name localhost;

    access_log /var/log/nginx/lighthouse-access.log;

    location / {
        root {{ lighthouse_data_dir }};
        index index.html;
    }
}
